.events {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 0.25rem;
  overflow: scroll;
  white-space: nowrap;
  &__head {
    margin: 0;
    margin-bottom: 0.2rem;
    color: green;
    text-align: center;
  }
}
