.events {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  text-shadow: none;
  overflow-y: auto;
  position: relative;
  &__head {
    line-height: 0.85;
    font-size: 20px;
    position: sticky;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    top: 0;
    background-color: #a2b6e0;
    z-index: 10;
    border-bottom: 1px solid rgb(39, 8, 110);
    font-weight: 300;
    color: rgb(39, 8, 110);
    text-align: center;
  }
}
