.toDo-item {
  display: flex;
  border-bottom: 1px solid rgb(80, 80, 162);
  &__li {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    width: 90%;
    align-items: center;
    text-shadow: none;
  }
  &__p {
    width: 10%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(166, 14, 14);
    text-shadow: none;
  }
  &__input {
    margin-right: 5px;
    color: black;
    font-size: 12px;
  }
}

.complete {
  text-decoration: line-through;
}
label {
  color: black;
  text-shadow: none;
  width: 100%;
  font-size: 12px;
}
