.weather-card {
  padding: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 95%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__head {
    font-size: 17px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__temp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 500;
  }
  &__range {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    &--min--text {
      color: rgb(71, 8, 228);
      font-weight: 500;
    }
    &--max--text {
      color: rgb(153, 32, 32);
      font-weight: 500;
    }
    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > * {
      font-size: 17px;
      > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &--wind--text {
      font-weight: 500;
      font-size: 12px;
      color: rgb(87, 83, 83);
      text-shadow: 1px 1px 1px #3e3c3c;
    }
    &--humidity--text {
      font-weight: 500;
      font-size: 12px;
      color: rgb(87, 83, 83);
      text-shadow: 1px 1px 1px #3e3c3c;
    }
    &--gusts--text {
      font-weight: 500;
      font-size: 12px;
      color: rgb(87, 83, 83);
      text-shadow: 1px 1px 1px #3e3c3c;
    }
  }
  &__feels--text {
    font-size: 17px;
  }
  &__feels--text {
    font-weight: 500;
    font-size: 13px;
    color: rgb(87, 83, 83);
    text-shadow: 1px 1px 1px #3e3c3c;
  }
  &__image {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}
