.event-card {
  text-shadow: none;

  display: flex;
  flex-direction: column;
  font-size: 15px;
  border-bottom: 2px solid rgb(15, 15, 62);
  &__head {
    font-weight: 600;
    color: rgb(51, 111, 222);
    text-shadow: none;
    border-bottom: 1px solid rgb(205, 205, 231);
  }
  &__venue {
    text-shadow: none;
    color: rgb(55, 65, 84);
    border-bottom: 1px solid rgb(205, 205, 231);
  }
  &__date {
    text-shadow: none;
    color: rgb(95, 28, 128);
    border-bottom: 1px solid rgb(205, 205, 231);
  }
  &__address {
    text-shadow: none;
    color: rgb(95, 28, 128);
    border-bottom: 1px solid rgb(205, 205, 231);
  }
  &__price {
    text-shadow: none;
    color: rgb(19, 19, 19);
    border-bottom: 1px solid rgb(205, 205, 231);
  }
}
